@font-face {
    font-family: 'p';
    src: url('/Poppins-Regular.ttf');
}

:root{

    --bg:#0b0b0b;
    --text:#fff;
    --secondary:#70e7fc;
}

a{

    color: var(--secondary);
    text-decoration: none;

}

body{

    font-family: 'p';
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
    margin:0 4%;
}

.navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.side{

    display: flex;
    align-items:center;

}

.side h3{

    font-size: 1.6em;
    color: var(--secondary);

}

.adj{

    opacity: 60%;
    font-size: 1.2em;

}

.link{

    transition: all 0.2s ease-in;

}

.link:hover{
    font-size: 1.1em;

}

.home{

height: 90vh;
display: grid;
grid-template-columns: 10% 80% 10%;
}

.left{

display: flex;
justify-content: flex-start ;

}


.right{

display: flex;
justify-content: flex-end ;

}

.column{

display: flex;
flex-direction: column;
justify-content: flex-end;
margin-bottom: 10%;
}

.line{

    height: 20%;
    width: 2px;
    background-color: var(--secondary);
    opacity: 60%;
}


.center{


}

.rotate{


}