@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");

.button {
  background-color: antiquewhite;
}

:root {
  --bg: #0a0a0a;
  --text: #fff;
  --secondary: #91a1fc;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

body {
  font-family: "p";
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  margin: 0 4vw;
  font-family: "Poppins";
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  font-weight: 900;
}

.side {
  display: flex;
  align-items: center;
}

.side h3 {
  font-size: 1.6em;
  color: var(--secondary);
}

.link {
  transition: all 0.3s ease;
}

.link:hover {
  opacity: 1;
  font-size: large;
}

.adj {
  opacity: 60%;
  font-size: 20px;
}

.home {
  height: 90vh;
  display: grid;
  grid-template-areas: "l m r";
  grid-template-columns: 11vw 70vw 11vw;
}

.left {
  display: flex;
  grid-area: l;
  justify-content: flex-start;
  position: sticky;
  /* left: 50vw; */
  bottom: 200vh;
}

.right {
  display: flex;
  justify-content: flex-end;
  grid-area: r;
  position: sticky;
  top: 0;
  /* right: 5vw; */
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  /* margin: 1em; */
}

.email-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  /* margin: 1em; */
}

.social {
  height: 35px;
  width: 35px;
  filter: invert(99%) sepia(6%) saturate(414%) hue-rotate(320deg)
    brightness(115%) contrast(100%);
  transition: all 0.2s ease-out;
}
.social:hover {
  transform: translateY(-10px);
  filter: invert(68%) sepia(34%) saturate(2782%) hue-rotate(197deg)
    brightness(101%) contrast(98%);
}
.line {
  background-color: var(--text);
  height: 20%;
  width: 2px;
  opacity: 60%;
}

.rotate {
  cursor: default;
  font-size: 20px;
  writing-mode: vertical-lr;
  transition: all 0.3s ease-out;
}

.rotate:hover {
  color: var(--secondary);
  transform: translateY(-10px);
}

.homesection {
  position: relative;
  /* padding: 20% 0; */
  display: flex;
  flex-direction: column;
  grid-area: m;
  height: 90vh;
  overflow-y: scroll;
  /* border: 1px solid red; */
}

.padding {
  margin-top: 20%;
}

.center {
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.cta {
  color: var(--bg);
}

.heading {
  font-size: 5em;
  margin: 0;
}

.desc {
  margin: 0;
  font-size: 1.1em;
}

.dull {
  opacity: 60%;
}
.color {
  background-image: linear-gradient(to right, #fc8099, #869afc, #ff8099);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 100%;
  background-size: 200%;
  animation: background-pan linear infinite 3500ms;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.cta {
  background-color: var(--secondary);
  padding: 1em;
  display: flex;
  width: fit-content;
  border-radius: 1em;
  margin-top: 3em;
  color: #0b0b0b;
  z-index: 10;
  position: relative;
}

.whatwedo {
  height: 89vh;
  position: relative;
  border: 1px solid var(--bg);
}

.whatwedo::before {
  content: "Why pick me ";
  font-size: 5em;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  /* top: 0px; */
  /* left: 25%; */
}

.card-row {
  width: 100%;
  height: 70%;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}

.card {
  margin-top: 5%;
  height: 70%;
  border-radius: 1em;
  position: relative;
  border: 1px solid rgb(68, 68, 68);
  z-index: -1;
  width: 30%;
}

.card-icon {
  height: 70px;
  position: absolute;
  display: block;
  width: 100%;
  margin: 5% 0;
  /* border-bottom: 1px solid gray; */
  filter: invert(100%) sepia(4%) saturate(299%) hue-rotate(210deg)
    brightness(114%) contrast(93%);
}

.card-heading {
  position: absolute;
  top: 30%;
  /* left: 30%; */
  display: flex;
  width: 100%;
  justify-content: center;
}

.card-desc {
  position: absolute;
  top: 40%;
  left: 7%;
  width: fit-content;
  opacity: 60%;
}

.skillsection {
  height: 90vh;
  width: 100%;
  position: relative;
}

.skillsection::before {
  content: "My skills";
  font-size: 4em;
  position: absolute;
}

.slide-up {
  transform: translateY(50px);
  opacity: 0%;
  filter: blur(5px);
}
.icon-slide-up {
  transform: translateY(-50px);
  opacity: 0%;
  filter: blur(1px);
}

.opacity-fade {
  opacity: 0;
  /* transform: all 0.5s ease-out; */
}

.nav-opacity-fade {
  opacity: 0;
  /* transform: all 0.5s ease-out; */
}

.opacity-appear {
  opacity: 1;
  transition: all 0.2s ease-out;
}

.opacity-appear:nth-child(1) {
  transition-delay: 100ms;
}

.appear {
  transform: translateY(00px);
  opacity: 1;
  transition: all 0.7s ease-out;
  filter: blur(0);
}

.appear:nth-child(1) {
  transition-delay: 500ms;
}

.appear:nth-child(2) {
  transition-delay: 750ms;
}

.appear:nth-child(3) {
  transition-delay: 1000ms;
}

.appear:nth-child(4) {
  transition-delay: 1250ms;
}

@media screen and (max-width: 768px) {
  body {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
  }
  .navbar {
    width: auto;
    margin: 0 1em;
  }
  .heading {
    font-size: 2em;
  }
  .desc {
    width: 100%;
    margin: 0;
    font-size: 1em;
  }
  .home {
    display: grid;
    grid-template-rows: 80vh 10vh;
    grid-template-columns: 100vw;
    grid-template-areas: "m" "l";
    height: 100vh;
  }
  .main {
    grid-area: m;
    width: 100%;
    margin: 0 1em;
    top: 10vh;
  }

  .btn {
    margin-top: 2em;
  }
  .left {
    grid-area: l;
    display: flex;
    flex-direction: row;
    bottom: 0;
  }

  .left::before {
    content: "";
    width: 80%;
    height: 3px;
    border-radius: 2px;
    background-color: rgb(65, 65, 65);
    position: absolute;
    margin-left: 10%;
  }

  .column {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .line {
    display: none;
  }
  .right {
    display: none;
  }
  .email-column {
    display: hidden;
  }

  .whatwedo {
    height: 150vh;
  }

  .whatwedo::before {
    font-size: 2em;
    justify-content: start;
  }

  .card-row {
    flex-direction: column;

    height: 100%;
  }

  .card {
    width: 90%;
    height: 40%;
  }

  .card-heading {
    top: 20%;
  }

  .card-desc {
    top: 30%;
    width: 30ch;
  }
}
